<ccConfig tempDirectory="/Users/rtholmes/tmp/hgTmp/">
	<project myKind="HG" myShortName="tortoise"
		myClone="/Users/rtholmes/dev/hgRepos/tortoiseHg/">
		<sources>
			<source kind="HG" shortName="face" clone="https://bitbucket.org/face/tortoisehgqueue" />
			<source kind="HG" shortName="pyQt" clone="https://bitbucket.org/tortoisehg/thg" />
			<source kind="HG" shortName="-control-" clone="http://bitbucket.org/tortoisehg/stable" />
		</sources>
	</project>
	<project myKind="HG" myShortName="murky"
		myClone="/Users/rtholmes/dev/hgRepos/murky/">
		<sources>
			<source kind="HG" shortName="bordezo" clone="https://bitbucket.org/boredzo/murky" />
			<source kind="HG" shortName="oscherler" clone="https://bitbucket.org/oscherler/murky" />
			<source kind="HG" shortName="mazdak" clone="https://bitbucket.org/mazdak/murky-with-sparkle" />
			<source kind="HG" shortName="-control-" clone="http://bitbucket.org/snej/murky" />
		</sources>
	</project>
</ccConfig>
